:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #ffffff;
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--slate);
}
.web {
  color: var(--navyblue);
}
.web-link {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.logo-link {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-link:hover {
  color: var(--ocean);
}
.logo-link:focus {
  color: var(--ocean);
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.address-link {
  color: var(--slate);
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover {
  color: var(--ocean);
}
.address-link:focus {
  color: var(--ocean);
}
.business {
  background: var(--navyblue);
}
.business-title {
  color: var(--white);
  text-align: center;
  font-family: "Roboto" o;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.business-but {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris);
  color: var(--white);
  cursor: pointer;
}
.business-but:hover {
  background-color: var(--ocean);
}
.business-but:focus {
  background-color: var(--ocean);
}
.benefits-title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-text {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  background-color: var(--cloud);
}
.title {
  color: var(--navyblue);
  font-family: "Roboto";
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-img {
  background-color: var(--white);
}
.team-title {
  color: var(--navyblue);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate, #434455);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*footer*/
.footer {
  background: var(--navyblue);
}
.web-link-footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.web-studio {
  color: var(--cloud);
}
.text {
  color: var(--cloud);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Technologies*/
.tech-but {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.tech-but:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.tech-but:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.tech-title {
  color: var(--navyblue);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.tech-text {
  color: var(--slate);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
