:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #ffffff;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--slate);
}
h1,
h2,
h3,
p{
   margin: 0;
}  
img{
  display: block;
  max-width: 100%;
  width:auto;
}
.container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.web {
  color: var(--navyblue);
}
.container-header{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: auto;
  padding-left: auto;
}
.head{
  display: flex;
}
.nav{
  display: flex;
  margin-right: 332px;  
}
.web-link {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.logo{
  display: flex;
  gap: 40px;  
}
.logo-link {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-link:hover {
  color: var(--ocean);
}
.logo-link:focus {
  color: var(--ocean);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.address {
  font-style: normal;
}
.address-link {
  color: var(--slate);
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover {
  color: var(--ocean);
}
.address-link:focus {
  color: var(--ocean);
}
.address-link-list{
  display: flex;
  gap: 40px;
}
.business {
  background: var(--navyblue);
}
.business-title {
  color: var(--white);
  text-align: center;
  font-family: "Roboto" o;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
}
.business-conteiner{
  padding-top: 188px;
  padding-right: 472px;
  padding-bottom: 188px;
  padding-left: 472px;
}
.business-but {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris);
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 48px;
}
.business-but:hover {
  background-color: var(--ocean);
}
.business-but:focus {
  background-color: var(--ocean);
}
.visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-conteiner{
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: auto;
  padding-left: auto;
}
.benefits{
  display: flex;
  gap: 24px;
}
.benefits-title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-text {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 120px;
}
.benefits-item{
  flex-basis:calc((100% - 24px * 3) / 4) ;
}
.doing-container{
  padding-bottom: 120px;
}
.doing-title{
  margin-bottom: 72px;
}
.doing-list{
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}
.team-section {
  background-color: var(--cloud);
}
.title {
  color: var(--navyblue);
  font-family: "Roboto";
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-container{
  padding-bottom: 120px;
}
.team-img {
  background-color: var(--white);
}
.team-title-list{
  margin-top: 120px;
  margin-bottom: 72px;
}
.team-list{
  display: flex;
  gap: 24px;
}
.team-title {
  color: var(--navyblue);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  margin-top: 32px;
  margin-bottom: 8px;
}
.team-text {
  color: var(--slate, #434455);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 32px;
}
/*footer*/
.footer {
  background: var(--navyblue);
}
.footer-conteiner{
  padding-top: 101.5px;
  padding-bottom: 100px;
  padding-left: auto;
  padding-right: auto;
}
.web-link-footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.web-studio {
  color: var(--cloud);
}
.text {
  color: var(--cloud);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Technologies*/
.header{
  display: flex;
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
}
.technologies-container{
  padding-top: 96px;
  padding-bottom: 120px;
  padding-left: auto;
  padding-right: auto;
}
.but{
  display: flex;
  gap: 24px;
  margin-bottom: 84px;
}
.tech-but {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.tech-but:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.tech-but:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.tech-list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
}
.tech-list-title{
  flex-basis: calc((100% - 32px * 2) / 3);
}
.tech-title {
  color: var(--navyblue);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.tech-text {
  color: var(--slate);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}